Repository T-W-M-B-W-C/BetterPrompts: changes, and which Codecov flags are due for each by the changed paths.
All: go, python, frontend, api-gateway, technique-selector, intent-classifier, prompt-generator

feat: Expose thinking process in frontend UI
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/index.js
Due: frontend

implement frontend landingpage styling and content
  .DS_Store
  frontend/public/favicon.ico
  frontend/public/images/bamboo.jpg
  frontend/public/images/bamboo2.jpg
  frontend/public/images/bamboo3.jpg
  frontend/public/index.html
  frontend/src/App.js
  images/bamboo.jpg
  images/bamboo2.jpg
  images/bamboo3.jpg
  images/bamboo4.jpg
  images/bamboo5.jpg
  images/bambooLeaf.jpg
Due: frontend

viz aid
  viz_aid.md
Due: none

feat: add multi-architecture Docker support for Intel and ARM Macs
  .env.arm64
  .env.intel
  MULTI_ARCH_SETUP.md
  backend/services/intent-classifier/Dockerfile
  docker-compose.arm64.yml
  docker-compose.intel.yml
  docker-compose.yml
  infrastructure/model-serving/docker/Dockerfile.torchserve
  scripts/build.sh
  scripts/setup-platform.sh
Due: python, intent-classifier

script
  scripts/verify-setup.sh
Due: none

Path conditions:
  go: any of: backend/services/api-gateway/, backend/services/technique-selector/, but not: **/*_test.go, **/test_*.py, **/*.test.ts, **/*.test.tsx, **/tests/**, **/__tests__/**, **/mock*, **/vendor/**, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/build/**, **/*.pb.go, **/migrations/**, **/cmd/**, ml-pipeline/**
  python: any of: backend/services/intent-classifier/, backend/services/prompt-generator/, but not: **/*_test.go, **/test_*.py, **/*.test.ts, **/*.test.tsx, **/tests/**, **/__tests__/**, **/mock*, **/vendor/**, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/build/**, **/*.pb.go, **/migrations/**, **/cmd/**, ml-pipeline/**
  frontend: (any of: frontend/, but not: **/*_test.go, **/test_*.py, **/*.test.ts, **/*.test.tsx, **/tests/**, **/__tests__/**, **/mock*, **/vendor/**, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/build/**, **/*.pb.go, **/migrations/**, **/cmd/**, ml-pipeline/**) or (any of: frontend/**, but not: **/*_test.go, **/test_*.py, **/*.test.ts, **/*.test.tsx, **/tests/**, **/__tests__/**, **/mock*, **/vendor/**, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/build/**, **/*.pb.go, **/migrations/**, **/cmd/**, ml-pipeline/**)
  api-gateway: any of: backend/services/api-gateway/**, but not: **/*_test.go, **/test_*.py, **/*.test.ts, **/*.test.tsx, **/tests/**, **/__tests__/**, **/mock*, **/vendor/**, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/build/**, **/*.pb.go, **/migrations/**, **/cmd/**, ml-pipeline/**
  technique-selector: any of: backend/services/technique-selector/**, but not: **/*_test.go, **/test_*.py, **/*.test.ts, **/*.test.tsx, **/tests/**, **/__tests__/**, **/mock*, **/vendor/**, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/build/**, **/*.pb.go, **/migrations/**, **/cmd/**, ml-pipeline/**
  intent-classifier: any of: backend/services/intent-classifier/**, but not: **/*_test.go, **/test_*.py, **/*.test.ts, **/*.test.tsx, **/tests/**, **/__tests__/**, **/mock*, **/vendor/**, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/build/**, **/*.pb.go, **/migrations/**, **/cmd/**, ml-pipeline/**
  prompt-generator: any of: backend/services/prompt-generator/**, but not: **/*_test.go, **/test_*.py, **/*.test.ts, **/*.test.tsx, **/tests/**, **/__tests__/**, **/mock*, **/vendor/**, **/node_modules/**, **/.next/**, **/coverage/**, **/dist/**, **/build/**, **/*.pb.go, **/migrations/**, **/cmd/**, ml-pipeline/**
